*.swp
*.*~
project.lock.json
.DS_Store
*.pyc
nupkg/

# Visual Studio Code
.vscode

# Rider
.idea

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
[Oo]ut/
msbuild.log
msbuild.err
msbuild.wrn
*.feature.cs

# Visual Studio 2015
.vs/

Tests/LocalTest/
SalesforceData/

OMREngineTest/bin/
OMREngineTest/obj/
.vs/

# Results
ODataTest/TestResults/*
OMREngineTest/EngineTestResults/*

=======
.vs/
Nur_SalesForceData_Collect
OMREngineTest/Configs/*
OMREngineTest/TenantConfigs/*
MainFramework/TenantConfigs/*
/OMREngineTest/TestData/TempFiles/DataForMetrics-Original_160121204.json
